# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Environment files
.env
.env.*
!.env.example

# Build output
client/build
server/dist
server/public/
server/uploads/

# OS / Editor
.DS_Store
.vscode
.idea
* text=auto eol=lf
